<section class="section">
  <div class="container">
    <h1 class="title">Your weight on other planets</h1>
    <p>You told us your weight on Earth is <%= weight %>.</p>
    <p>Your weight on <span class="has-text-weight-bold"><%= planet %></span> is, therefore, <span class="has-text-weight-bold"><%= planet_weight %></span>.</p>
  </div>
</section>

